.nav{
    overflow: hidden;
    background-color: white;
    border-bottom: solid 3px #707070;
}

.dropdown{
    display:none;
}

.nav a{
    font-family: 'Bitter', serif;
    font-style: italic;
    float: right;
    color: #707070;
    text-align: center;
    padding: 30px;
    padding-top: 16px;
    padding-left: 36px;
    text-decoration: none;
    font-size: 23px;
}

.nav a.active{
    color: black
}

.main_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;
    padding: 40px;
}

.form_box{
    display: flex;
    flex-direction:column;
    font-family: 'Bitter', serif;
    font-style: italic;
    align-items: center;
    justify-content: center;
    padding: 80px;
    
 
    
}

input[type=text], select, textarea, input[type=email]{

    padding-right: 300px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

textarea{
    
    padding-right: 293px;
    padding-left: 20px;
    padding-bottom: 80px;
    font-family: 'Bitter', serif;
    
}

input[type=submit]{
    background: white;
    color: #707070;
    border-style: 1;
    border-color: #707070;
    height: 40px;
    width: 150px;
    margin: 10px;

}

input[type=submit], .contact{
    margin-bottom: 5px;
}

.main_page h1.karla{
    font-family: 'Karla', sans-serif;
    font-style: normal;
}

.main_page h3.bitter{
    font-family: 'Bitter', serif;
    font-style: normal;
}

@media (max-width: 900px) {
    .nav { display:none;}

    .dropdown { 

        display: block; 
        border-bottom: 3px solid #707070;
        float: right;
        padding: 30px;
        padding-top: 16px;
        padding-left: 100%;
        overflow: hidden;
          
    }

    .dropbtn{
        padding:20px;
        color: #f9f9f9;
        
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border: 1;
        z-index: 1;
        width: 100%;
        left:0;
        

    }
    ul li {
        display: block;
        position: relative;
        list-style: none;
        text-align: left;
        width: 500%;
        padding-bottom:8px;
        padding-right:10%;
        margin:10px
        
    }

    ul li a {
        font-family: 'Bitter', serif;
        font-style:italic;
        color: #707070;
        text-decoration:none;
        font-size: 18px;
        margin: 5px;
        
    }

    ul li .active {
        color: black;
    }

    .dropdown:hover .dropdown-content {
        display: block;
      }
}