.nav{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: solid 3px #707070;
    align-items: center;
}

.links{
    margin-right: 5rem;
    display: flex;
}

.logo img{
    width: 5rem;
    position: float;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 8rem;
    
}

.dropdown{
    display:none;
}

.nav a{
    font-family: 'Bitter', serif;
    font-style: italic;
    float: right;
    color: #707070;
    text-align: center;
    padding: 30px;
    padding-top: 16px;
    padding-left: 36px;
    text-decoration: none;
    font-size: 23px;
}

.nav a.active{
    color: #3B7193;
}

.main_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;
    padding: 40px;
}

.form_box{
    display: flex;
    flex-direction:column;
    font-family: 'Bitter', serif;
    font-style: italic;
    align-items: center;
    justify-content: center;
    padding: 80px;
    
 
    
}

input[type=text], select, textarea, input[type=email]{

    font-family: 'Bitter', serif;
    font-style: italic;
    padding-right: 300px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

textarea{
    
    padding-right: 293px;
    padding-left: 20px;
    padding-bottom: 80px;
    font-family: 'Bitter', serif;
    font-style: italic;
    
}

input[type=submit]{
    background: white;
    font-family: 'Bitter', serif;
    font-style: italic;
    color: #707070;
    border-style: 1;
    border-color: #707070;
    height: 40px;
    width: 150px;
    margin: 10px;

}

input[type=submit], .contact{
    margin-bottom: 5px;
}

.main_page h1.karla{
    font-family: 'Karla', sans-serif;
    font-style: normal;
}

.main_page h3.bitter{
    font-family: 'Bitter', serif;
    font-style: normal;
}

footer{
    font-family: 'Bitter', serif;
    font-style: italic;
    color: #cfcfcf;
    text-align: center;
}

@media (max-width: 900px) {
    .nav { display:none;}

    .dropdown { 

        display: flex; 
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 3px solid #707070;
        position: relative;

    }

    .logo img{
        width: 5rem;
        position: float;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        
    }

    .dropbtn{
        padding: 20px;
        margin-right: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        color: #f9f9f9;
        height: 1rem;
        width: 1rem;
    }

    .dropdown-content {
        display: none;
        position: relative;
        background-color: #f9f9f9;
        border: 1;
        z-index: 1;
        width: 100%;
        left:0;
        margin-bottom:1rem;
        

    }
    ul li {
        display: block;
        position: relative;
        list-style: none;
        text-align: left;
        width: 500%;
        padding-bottom:8px;
        padding-right:10%;
        margin:10px
        
    }

    ul li a {
        font-family: 'Bitter', serif;
        font-style:italic;
        color: #707070;
        text-decoration:none;
        font-size: 18px;
        margin: 5px;
        
    }

    ul li .active {
        color: #3B7193;
    }

    .dropdown:hover .dropdown-content {
        display: block;
      }

    .mainPage h1{
        font-family: 'Bitter', serif;
        font-style: normal;
        color: #383737;
        font-size: 2rem;
    }
    
    .mainPage h3{
        font-family: 'Karla', sans-serif;
        font-style: normal;
        color: #383737;
        font-size: 1.3rem;
    }
    
    
    input[type=text], select, textarea, input[type=email]{
    
        font-family: 'Bitter', serif;
        font-style: italic;
        padding-right: 200px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
    
    textarea{
        
        padding-right: 193px;
        padding-left: 20px;
        padding-bottom: 80px;
        font-family: 'Bitter', serif;
        font-style: italic;
        
    }
    
    input[type=submit]{
        background: white;
        font-family: 'Bitter', serif;
        font-style: italic;
        color: #707070;
        border-style: 1;
        border-color: #707070;
        height: 40px;
        width: 120px;
        margin: 10px;
        font-size: 0.8rem;
    
    }
    
}